name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, release ]

  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Verify npm all runs
        uses: actions/setup-node@v4
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run all
